<%- include('components/head') -%>
<body>
  <div class="wrapper">
    <%- include('components/header') -%>
    <div class="main">
      <div class="main__container">
        <div class="main__cards-block">
          <div class="main__cards">
            <p class="main__show-all">Show all blogs</p>
            <ul class="blogs-list">
              <% if (blogs.length === 0) { %>
              <p>No Blogs found!</p>
              <% } %> <% blogs.forEach(blog => { %>
              <li id="<%= blog._id %>">
                <h4><%= blog.title %></h4>
                <p class="main__content"><%= blog.content %></p>
                <div class="main__tags">
                  <% blog.tags.forEach(tag => { %>
                  <a
                    href="/blogs?tag=<%= encodeURIComponent(tag)%>"
                    class="main__tags"
                    >#<%= tag %>
                  </a>
                  <% }) %>
                </div>
                <div class="main__likes">
                  <button
                    data-blog-id="<%= blog._id %>"
                    class="like-btn <%= blog.likes.includes(user?._id) ? 'liked' : '' %>"
                  >
                    <i class="fa-regular fa-thumbs-up"></i>
                    <!-- <i class="fa-solid fa-heart fa-flip"></i> -->
                    <span class="likes-count"><%= blog.likes.length %></span>
                  </button>
                  <p class="main__date"><%= blog.formattedCreatedDate %></p>
                </div>
                <!-- <p><%= blog.formattedUpdatedDate %></p> -->
                <% if (user && blog.author?._id && String(blog.author._id) ===
                String(user._id)) { %>
                <div class="main_btns">
                  <button class="editBlog card-btn">Edit</button>
                  <button class="deleteBlog card-btn">Delete</button>
                </div>
                <% } %>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
