<%- include('components/head') -%>
<body>
  <div class="wrapper">
    <%- include('components/header') -%>
    <div class="main">
      <div class="main__container">
        <div class="main__cards-block">
          <div class="main__cards">
            <ul class="notes-list">
              <% blogs.forEach(blog => { %>
              <li id="<%= blog._id %>">
                <h4><%= blog.title %></h4>
                <p class="main__content"><%= blog.content %></p>
                 <p class="main__content"><%= blog.tags %></p>
                <p><%= blog.createdAt %></p>
                <% if (String(blog.author._id) === String(user._id)) { %>
                <div class="main_btns">
                  <button class="editNote card-btn">Edit</button>
                  <button class="deleteNote card-btn">Delete</button>
                </div>
                <% } %>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
