<%- include('components/head') -%>
<body>
  <div class="wrapper">
    <%- include('components/header') -%>
    <main class="main">
      <div class="main__container">
        <p class="main__show-all">Show all blogs</p>
        <div class="main__hero">
          <div class="main__post">
            <ul class="main__categories">
              <li class="category">
                 <a
                    href="/blogs?tag=<%= encodeURIComponent('science')%>"
                    class="main__tags"
                    > Science 
                  </a>
              </li>
              <li class="category">
                <a
                    href="/blogs?tag=<%= encodeURIComponent('apple')%>"
                    class="main__tags"
                    > Apple 
                  </a>
              </li>
              <li class="category">
                <a
                    href="/blogs?tag=<%= encodeURIComponent('ai')%>"
                    class="main__tags"
                    > AI 
                  </a>
              </li>
 <li class="category">
                <a
                    href="/blogs?tag=<%= encodeURIComponent('gaming')%>"
                    class="main__tags"
                    > Gaming 
                  </a>
              </li>
               <li class="category">
                <a
                    href="/blogs?tag=<%= encodeURIComponent('google')%>"
                    class="main__tags"
                    > Google 
                  </a>
              </li>
               <li class="category">
                <a
                    href="/blogs?tag=<%= encodeURIComponent('apps')%>"
                    class="main__tags"
                    > Apps 
                  </a>
              </li>
            </ul>
            <h1 class="main__title">
              Title
            </h1>
          </div>
          <div class="main__featured">
            <h2 class="main__subtitle">Featured</h2>
           <ul>
              <% blogs.slice(0, 4).forEach(blog => { %>
                <li id="<%= blog._id %>">
                  <h4><%= blog.title %></h4>
                  <p class="main__date"><%= blog.formattedCreatedDate %></p>
                </li>
                <% }) %>
           </ul>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
