<%- include('components/head') -%>
<body>
  <div class="wrapper">
    <%- include('components/header') -%>
    <main class="main">
      <div class="main__container">
        <div class="main__profile-content">
          <h2><%= user.username %>'s profile</h2>
          <div class="main__profile-list">
            <p>Username: <%= user.username %></p>
            <p>Email: <%= user.email %></p>
          </div>
          <div class="main__profiles-btns">
            <button>
              <a href="/change-psw" class="profileBtn btn">Change password</a>
            </button>
            <button class="profileBtn btn logout">Logout</button>
            <button id="delete" class="profileBtn btn delete-profile">
              Delete profile
            </button>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
