<%- include('components/head') -%>
<body>
  <div class="wrapper">
    <%- include('components/header') -%>
    <main class="main">
      <div class="main__container">
        <div class="main__profile-content">
          <h2><%= user.username %>'s profile</h2>
          <!-- <% if (notes.length === 0) { %> -->
          <!-- <p>No notes yet. <a href="/create-note">Create your first one!</a></p> -->
          <!-- <% } else { %> -->
          <div class="main__profile-list">
            <p>Username: <%= user.username %></p>
            <p>Email: <%= user.email %></p>
            <!-- <p>You have: <%= notes.length %> notes.</p> -->
          </div>
          <!-- <% } %> -->
          <div class="main__profiles-btns">
            <button>
              <a href="/change-psw" class="profileBtn btn">Change password</a>
            </button>
            <button class="profileBtn btn logout">Logout</button>
            <button id="delete" class="profileBtn btn delete-profile">
              Delete profile
            </button>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
